:root {
    --main-color: #055b5c;
    --main-color-light: #c5fbfc;
    --main-color-gradient: #7ffafc;
    --accent-color: #B57BCC;
    --accent-color-light: #ccabd838;
} 
 
.main-content .home .home-background {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/home-background-blue.png) no-repeat;
}

.main-content .home .home-container .home-front-elements .home-blob {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/home-blob-blue.svg) no-repeat;
}

.main-content .education .education-container .education-content .education-image {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/education-blue.svg) no-repeat;
}