:root {
    --main-color: #055b5c;
    --main-color-light: #c5fbfc;
    --main-color-gradient: #7ffafc;
    --accent-color: #B57BCC;
    --accent-color-light: #ebd4f3;
} 
 
.main-content .home .home-background {
    background: url(../../photos/home-background-blue.svg) no-repeat;
}

.main-content .home .home-container .home-front-elements .home-blob {
    background: url(../../photos/home-blob-blue.svg) no-repeat;
}

.main-content .about .about-container .second-blob {
    background: url(../../photos/second-blob-blue.svg) no-repeat;
}

.main-content .education .education-container .education-content .education-image {
    background: url(../../photos/education-blue.svg) no-repeat;
}

.main-content .skills .skills-container .third-blob { 
    background: url(../../photos/third-blob-blue.svg) no-repeat;
}

.footer .footer-wave { 
    background: url(../../photos/footer-wave-blue.svg) no-repeat;
}
