:root {
    --main-color: #535016;
    --main-color-light: #EAE7AE;
    --main-color-gradient: #D4CE5E;
    --accent-color: #FA8A5A;
    --accent-color-light: #fa8a5a38;
} 
 
.main-content .home .home-background {
    background: url(/CurriculumVitae/photos/home-background-green.png) no-repeat;
}