:root {
    --main-color: #B63E48;
    --main-color-light: #EFD1D4;
    --main-color-gradient: #e0a4a9;
    --accent-color: #6f8b5b;
    --accent-color-light: #708d5b38;
} 

.main-content .home .home-background {
    background: url(/CurriculumVitae/photos/home-background-pink.png) no-repeat;
}