:root {
    --main-color: #B63E48;
    --main-color-light: #EFD1D4;
    --main-color-gradient: #e0a4a9;
    --accent-color: #6f8b5b;
    --accent-color-light: #c1d6b1;
} 

.main-content .home .home-background {
    background: url(../../photos/home-background-pink.svg) no-repeat;
}

.main-content .home .home-container .home-front-elements .home-blob {
    background: url(../../photos/home-blob-pink.svg) no-repeat;
}

.main-content .about .about-container .second-blob {
    background: url(../../photos/second-blob-pink.svg) no-repeat;
}

.main-content .education .education-container .education-content .education-image {
    background: url(../../photos/education-pink.svg) no-repeat;
}

.main-content .skills .skills-container .third-blob { 
    background: url(../../photos/third-blob-pink.svg) no-repeat;
}

.footer .footer-wave { 
    background: url(../../photos/footer-wave-pink.svg) no-repeat;
}
