:root {
    --main-color: #B63E48;
    --main-color-light: #EFD1D4;
    --main-color-gradient: #e0a4a9;
    --accent-color: #6f8b5b;
    --accent-color-light: #708d5b38;
} 

.main-content .home .home-background {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/home-background-pink.png) no-repeat;
}

.main-content .home .home-container .home-front-elements .home-blob {
    background: url(/https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/home-blob-pink.svg) no-repeat;
}

.main-content .about .about-container .second-blob {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/second-blob-pink.svg) no-repeat;
}

.main-content .education .education-container .education-content .education-image {
    background: url(https://github.com/OliwiaGowor/Curriculum-Vitae/blob/main/photos/education-pink.svg) no-repeat;
}