:root {
    --primary-background-color: #ffffff;
    --primary-text-color: black;
    --secondary-text-color: black;
    --shadow-color: #d9d3d3d6;
}

.main-content .contact .contact-container .other-ways-contact .contact-elements .linkedin-icon {
    background: url(../../icons/linkedin-icon-black.png) no-repeat;
}