body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    overflow: hidden scroll;
}

body input:focus {
    outline: none;
}

body textarea:focus {
    outline: none;
}

.page-nav {
    position: fixed;
    top: 0px;
    width: 100%;  
    background-color: var(--primary-background-color); 
    margin: 0px;
    padding: 0px;
    z-index: 99;
    box-shadow: 0 5px 15px var(--shadow-color);
    overflow: hidden;
}

.page-nav .nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    font-size: 1em; 
    font-weight: 300;
    align-items: center;
    height: 60px;
    margin: 0px;
}

.page-nav .nav-container .nav-mobile {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 25px;
    width: 40px;
    height: fit-content;
    top: 3px;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile:hover {
    cursor: pointer;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile span { 
    height: 6px;
    width: 20px;
    background-color: var(--main-color);
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile span:nth-child(even) {
    position: relative;
    left: 50%;
    top: -6px;
    border-radius: 0 15px 15px 0;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile span:nth-child(odd) {
    position: relative;
    left: 0;
    border-radius: 15px 0 0 15px;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(1),.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(6) {
  transform: rotate(45deg);
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(2),.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(1) {
  top: 6px;
  left: 3px;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 0px;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(5) {
  top: -4.5px;
  left: 2px;
}

.page-nav .nav-container .nav-mobile .hamburger-icon-mobile.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: -10px;
}

.page-nav .nav-container .header-nav {
    display: none;
}

.page-nav .nav-container .header-nav.open.mobile {
    display: inline-flex;
    position: fixed;
    top: 60px;
    background-color: var(--primary-background-color);
    width: 50%;
    justify-content: center;
    padding: 2px 0px;
    box-shadow: 0 5px 5px var(--shadow-color);
}

.page-nav .nav-container .header-nav.open ul.nav-elements {
    list-style: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.page-nav .nav-container .header-nav.open .nav-elements li {
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
    padding: 20px 0px 5px 0px;
    font-size: 20px;
    border-top: 1px solid var(--main-color-light);
    width: 100%;
}

.page-nav .nav-container .header-nav.open .nav-elements li:hover a{
    color:var(--main-color);
    transition: 0.1s;
}

.page-nav .nav-container .header-nav.open .nav-elements a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.page-nav .nav-container .header-nav.open .nav-elements a:visited {
    color: var(--primary-text-color);
}

.page-nav .nav-container .navbar-space {
    display: flex;
    height: auto;
    width: 2000px;
    max-width: calc(65%);
}

.page-nav .nav-container .right-icons {
    display: inline-flex;
    gap: 1em;
    padding: 0 3.8em;
    position: relative;
}

.page-nav .nav-container .right-icons img {
    cursor: pointer;
}

.page-nav .nav-container .right-icons .theme-icon-container, .page-nav .nav-container .right-icons .settings-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 45px;
}

.page-nav .nav-container .right-icons .theme-icon-container .theme-button, .page-nav .nav-container .right-icons .settings-icon-container .settings-button {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .01s;
    border: none;
    background-color: var(--primary-background-color);
}

.page-nav .nav-container .right-icons .theme-icon-container .theme-button:hover, .page-nav .nav-container .right-icons .settings-icon-container .settings-button:hover {
    background-color: #d9d3d39c;
}

.page-nav .nav-container .right-icons .theme-icon-container .theme-button .theme-icon:active {
    background-color: #a59f9f9c;
}

.page-nav .nav-container .right-icons .theme-icon-container #theme-icon-white, .page-nav .nav-container .right-icons .settings-icon-container #settings-icon-white {
    position: relative;
    right: 13px;
}

.page-nav .nav-container .right-icons .theme-icon-container #theme-icon-black, .page-nav .nav-container .right-icons .settings-icon-container #settings-icon-black {
    position: relative;
    left: 12.5px;
}

.page-nav .nav-container .right-icons .theme-icon-container .theme-button:hover #theme-icon-black, .page-nav .nav-container .right-icons .settings-button:hover #settings-icon-black, .page-nav .nav-container .right-icons .theme-icon-container .theme-button:hover #theme-icon-white, .page-nav .nav-container .right-icons .settings-button:hover #settings-icon-white  {
    transition: 1s;
    rotate: 360deg;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 2em;
    width: 100px;  
    height: auto;
    background-color: var(--primary-background-color);
    color: black;
    box-shadow: 0 5px 5px var(--shadow-color);
    border: 1px solid var(--shadow-color);
    z-index: 99;
}

.page-nav .nav-container .right-icons .settings-icon-container:hover .settings-dropdown, .page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown:hover{
    display: flex;
    transition: 0.1s;
} 

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .settings-header {
    font-size: 1em;
    padding: 0 1em;
    text-align: center;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown ul.color-circle-elements{
    list-style: none;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: inline-flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
    margin: 0;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements li {
    display: inline-flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%; 
    transition: background-color .01s;
    cursor: pointer;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements li:hover {
    background-color: #d9d3d39c;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements .color-circle div {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements .color-circle-pink {
    background-color: #B63E48;
}


.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements .color-circle-green { 
    background-color: green;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown .color-circle-elements .color-circle-blue {
    background-color: blue;
}

.page-nav .nav-container .right-icons .settings-icon-container li:hover .settings-dropdown a{
    color: black;
}

.page-nav .nav-container .right-icons .settings-icon-container .settings-dropdown li:hover a{
    color: var(--main-color);
    transition: 0.1s;
}

main {
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

main button:hover {
    cursor: pointer;
}

main .main-content {
    display: block;
    /*background-color: rgba(247, 247, 247);*/
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main-content .home .home-blob {
    display: none;
}

.main-content .home .home-container {
    padding-top: 80px;
    padding-bottom: 150px;
    margin-bottom: 20px;
    position: relative;
}

.main-content .home .home-container .home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: 150% 100%;
}

.main-content .home .home-container .home-front-elements {
    position: relative;
    z-index: 2;
}

.main-content .home .home-container .home-front-elements .home-header {
    font-size: 40px;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 10;
    color: var(--secondary-text-color);
}

.main-content .home .home-container .home-front-elements .home-header .name {
    display: inline;
    color: var(--main-color);
}

/*.main-content .home .home-container .home-vertical-line {
    height: 3px;
    width: 600px;
    background-color: rgb(0, 0, 0);
}*/

.main-content .home .home-container .home-front-elements .introduction {
    font-size: 20px;
    line-height: 1.3em;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

.main-content .home .home-container .home-front-elements .introduction .introduction-text {
    display: inline;
}

.main-content .home .home-container .home-front-elements .introduction .distinct {
    display: inline;
    color: var(--main-color);
    font-weight: bold;
}

.main-content .home .home-container .home-front-elements .home-contact {
    margin-left: 10%;
    margin-top: 50px;
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(2, 80px);
    padding: 0;
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element .distinct {
    font-weight: bold;
    color: var(--secondary-text-color);
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element a {
    color: black;
    text-decoration: none;
    display: inline;
    margin-right: 10px;
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element a .to-copy {
    display: inline-block;
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element a:hover {
    color: var(--main-color);
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element .copy-button {
    display: inline;
    background: none;
    border: none;
    padding: 5px 6px;
}

.main-content .home .home-container .home-front-elements .home-contact .contact-elements .contact-element .copy-button:active {
	background-color: var(--main-color);
    border-radius: 20px;
}

.main-content .home .home-container .home-front-elements .button-more-about-me {
    font-size: 16px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    border: 0;
    padding: 18px 32px;
    margin-left: 10%;
}

.main-content .home .home-container .home-front-elements .button-more-about-me:active {
    background-color: var(--main-color);
    color: var(--main-color-light);
}

.main-content .about .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 180px;
}

.main-content .about .about-container .about-header-container {
    padding-bottom: 25px;
} 

.main-content .about .about-container .about-header-container .about-header {
    margin-top: 0;
    margin-bottom: 0;
}

.main-content .about .about-container .about-header-container .lines .line-longer {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 5px;
}

.main-content .about .about-container .about-header-container .lines .line-shorter {
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 5px;
}

.main-content .about .about-container .second-blob {
    position: absolute;
    height: 400px;
    width: 705px;
    left: -150px;
    background-size: contain;
    z-index: 0;
    top: 800px;
}

.main-content .about .about-container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main-content .about .about-container .about-content .about-text-container {
    display: block;
    width: 320px;
    text-align: justify;
}

.main-content .about .about-container .about-content .about-text-container .about-text-header {
    display: inline-block;
    color: var(--main-color);
}

.main-content .about .about-container .about-content .about-text-container .about-text {
    font-size: 18px;
}

.main-content .about .about-container .about-content .about-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -60px;
    gap: 55px;
    color: var(--secondary-text-color);
}

.main-content .about .about-container .about-content .about-grid .about-elements-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(calc(100% - 100px), 330px));
    grid-template-rows: repeat(4, fit-content);
    column-gap: 40px;
    list-style: none;
    margin: 0 50px;
    align-items: flex-end;
    background-color: var(--main-color-light);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 30px;
}

.main-content .about .about-container .about-content .about-grid .about-elements-grid li {
    border-bottom: 2px solid var(--main-color);
    padding-top: 15px;
}

.main-content .about .about-container .about-content .about-grid .about-elements-grid li a {
    text-decoration: none;
    color: inherit;
}

.main-content .about .about-container .about-content .about-grid .languages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-light);
    border-radius: 20px;
    padding: 30px 25px;
    width: 250px;
    max-width: calc(100% - 125px);
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages-header {
    color: var(--main-color);
    margin: 0;
    z-index: 3;
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    z-index: 3;
    column-gap: 50px;
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages .languages-dot {
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages {
    font-size: 18px;
}

.main-content .about .about-container .about-content .about-grid .languages-container .languages .distinct {
    font-weight: bold;
    padding-top: 10px;
}

.main-content .about .about-container button {
    font-size: 16px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    border: 0;
    padding: 18px 32px;
    z-index: 2;
}

.main-content .about .about-container button:active {
    background-color: var(--main-color);
    color: var(--main-color-light);
}

.main-content .about .about-container button img {
    position: relative;
    top: 3px;
    padding-right: 8px;
}

.main-content .education .education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .education .education-container {
    width: 100%;
    margin-bottom: 180px;
}

.main-content .education .education-container .education-header-container {
    margin-bottom: 40px;
}

.main-content .education .education-container .education-header-container .education-header {
    margin: 0;
}

.main-content .education .education-container .education-header-container .lines .line-longer {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 5px;
}

.main-content .education .education-container .education-header-container .lines .line-shorter {
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 5px;
}

.main-content .education .education-content {
    display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 125px);
    color: var(--secondary-text-color);
}

.main-content .education .education-content .education-image {
    display: none;
}

.main-content .education .education-content .education-elements {
    display: flex;
    flex-direction: column;
    width: 450px;
    list-style: none;
    background: linear-gradient(135deg, var(--main-color-gradient) 0%, var(--main-color-light) 75%);
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 0.75em;
    padding-bottom: 1em;
    margin: 0;
    /*box-shadow: 0 0 10px 5px var(--shadow-color);*/
}

.main-content .education .education-content .education-elements .education-element {
    padding-left: 2em;
}

.main-content .education .education-content .education-elements .line {
    display: inline-block;
    width: 1px;
    height: 1px;
}

.main-content .education .education-content .education-elements .vertical-line {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 6px;
    width: 2px;
    height: 215px;
    background-color: var(--main-color);
}

.main-content .education .education-content .education-elements .education-element .education-dot {
    position: relative;
    top: 21px;
    right: 32px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-content .education .education-content .education-elements .education-element .timeline-date {
    margin: 0;
    color: var(--main-color)
}

.main-content .education .education-content .education-elements .education-element .calendar-icon {
    display: inline-flex;
    background-image: url("icons/calendar-icon-black.svg");
    height: 23px;
    width: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.main-content .skills .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    width: 100%;
    position: relative;
}

.main-content .skills .skills-container .third-blob {
    display: none;
}

.main-content .skills .skills-container .skills-text {
    z-index: 2;
    width: 65%;
    text-align: center;
}

.main-content .skills .skills-container .skills-header-container {
    padding-bottom: 40px;
    z-index: 2;
}

.main-content .skills .skills-container .skills-header-container .skills-header {
    margin: 0;
}

.main-content .skills .skills-container .skills-header-container .lines .line-longer {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 5px;
}

.main-content .skills .skills-container .skills-header-container .lines .line-shorter {
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 5px;
}

.main-content .skills .skills-container .skills-content {
    display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    z-index: 2;
}

.main-content .skills .skills-container .skills-content .skills-photo {
    display: none;
}

.main-content .skills .skills-container .skills-content .skills-elements {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
}

.main-content .skills .skills-container .skills-content .skills-elements li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    width: 140px;
    height: 170px;
    box-shadow: 0 0 10px 5px var(--shadow-color);
    background-color: var(--primary-background-color);   
    margin: 50px 0px 0px 0px;
}

.main-content .skills .skills-container .skills-content .skills-elements li:hover {
    background-color: var(--accent-color-light);
    color: var(--secondary-text-color);
    transition: 0.1s;
}

.main-content .skills .skills-container .skills-content .skills-elements li .element-text {
    margin: 0;
    padding-top: 8px;
}

.main-content .skills .skills-container .skills-content .skills-elements li .arrow {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: 1px;
}

.main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-line {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 2px;
    background-color: var(--main-color);
    top: -9px;
    left: 60px;
}

.main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-left {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 2px;
    background-color: var(--main-color);
    top: -6px;
    left: 53px;
    transform: rotate(135deg);
}

.main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-right {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 2px;
    background-color: var(--main-color);
    top: -12px;
    left: 43px;
    transform: rotate(-135deg);
}

.main-content .projects .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 180px;
}

.main-content .projects .projects-container .projects-header-container {
    margin-bottom: 40px;
}

.main-content .projects .projects-container .projects-header-container .projects-header {
    margin: 0;
}

.main-content .projects .projects-container .projects-header-container .lines .line-longer {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 5px;
}

.main-content .projects .projects-container .projects-header-container .lines .line-shorter {
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 5px;
}

.main-content .projects .projects-container .projects-content {
    color: var(--secondary-text-color);
    z-index: 2;
}

.main-content .projects .projects-container .projects-content .slide-buttons {
     position: relative;
     bottom: 250px;
}

.main-content .projects .projects-container .projects-content .slide-buttons div {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0.5;
}

.main-content .projects .projects-container .projects-content .slide-buttons .button-left {
    right: 100px;
}

.main-content .projects .projects-container .projects-content .slide-buttons .button-right {
    left: 100px;
}

.main-content .projects .projects-container .projects-content .button-left:hover, .main-content .projects .projects-container .projects-content .button-right:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.main-content .projects .projects-container .projects-content .slide-buttons span {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 25px;
    background-color: rgba(0, 0, 0);
    border-radius: 20px;
}

.main-content .projects .projects-container .projects-content .button-right .arrow-top, .main-content .projects .projects-container .projects-content .button-right .arrow-bottom {
    transform: rotate(45deg);
    top: 7px;
    left: 20px;
}

.main-content .projects .projects-container .projects-content .button-right .arrow-bottom {
    transform: rotate(-45deg);
    top: 22px;
    left: -5px;
}

.main-content .projects .projects-container .projects-content .button-left .arrow-top, .main-content .projects .projects-container .projects-content .button-left .arrow-bottom {
    transform: rotate(-45deg);
    top: 7px;
    left: 15px;
}

.main-content .projects .projects-container .projects-content .button-left .arrow-bottom {
    transform: rotate(45deg);
    top: 22px;
    left: -10px;
}

.main-content .projects .projects-container .projects-content .projects-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 432px;
}

.main-content .projects .projects-container .projects-content .projects-elements .project-element {
    position: absolute;
    top: 30px;
    width: 200px;
    height: 300px;
    padding: 1em;
    margin: 0 50px;
    border-radius: 20px;
    background: linear-gradient(135deg, var(--main-color-gradient) 0%, var(--main-color-light) 75%);
    box-shadow: 0 0 10px 5px var(--shadow-color);
}

.main-content .projects .projects-container .projects-content .projects-elements .project-element.left {
    transform: translate(-300px, 25px);  
    opacity: 0.4;
    transition: 1s;
}

.main-content .projects .projects-container .projects-content .projects-elements .project-element.middle {
    transform: translate(0px, 0px);  
    opacity: 1;
    transition: 1s;
    height: 350px;
    width: 250px;
}

.main-content .projects .projects-container .projects-content .projects-elements .project-element.right {
    transform: translate(300px, 25px);  
    opacity: 0.4;
    transition: 1s;
}

.main-content .contact .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content .contact .contact-container .contact-header-container {
    margin-bottom: 40px;
}

.main-content .contact .contact-container .contact-header-container .contact-header {
    margin: 0;
}

.main-content .contact .contact-container .contact-header-container .lines .line-longer {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin-bottom: 5px;
}

.main-content .contact .contact-container .contact-header-container .lines .line-shorter {
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 5px;
}

.main-content .contact .contact-container .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 100px);
    margin: 0 50px;
    width: 600px;
}

.main-content .contact .contact-container .contact-form {
    width: 1000px;
    max-width: calc(100% - 100px);
}

.main-content .contact .contact-container .contact-form .form-header {
    color: var(--accent-color);
    margin: 7px;
}

.main-content .contact .contact-container .contact-form .form-second-header {
    margin-top: 7px;
    margin-bottom: 15px;
}

.main-content .contact .contact-container .contact-form .contact-form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: calc(100%);
}

.main-content .contact .contact-container .contact-form .contact-form-elements label {
    display: block;
    padding-top: 20px;
}

.main-content .contact .contact-container .contact-form .contact-form-elements input, .main-content .contact .contact-container .contact-form .contact-form-elements textarea {
    border-color: var(--main-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: var(--accent-color-light);
}

.main-content .contact .contact-container .contact-form .contact-form-elements .topic-input-container {
    max-width: 100%;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .topic-input {
    width: 550px;
    max-width: 100%;
    height: 40px;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .message-input-container {
    max-width: 100%;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .message-input {
    width: 550px;
    max-width: 100%;
    resize: none;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .top-elements {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .top-elements .name-input-container, .main-content .contact .contact-container .contact-form .contact-form-elements .top-elements .email-input-container {
    max-width: 100%;
}

.main-content .contact .contact-container .contact-form .contact-form-elements .top-elements input {
    width: 550px;
    max-width: 100%;
    height: 40px;
}

.main-content .contact .contact-container .other-ways-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    width: 80%;
}

.main-content .contact .contact-container .other-ways-contact .header-other-ways {
    color: var(--accent-color);
    margin-top: 50px;
}

.main-content .contact .contact-container .other-ways-contact .contact-elements {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    flex-wrap: wrap;
}

.main-content .contact .contact-container .other-ways-contact .contact-elements li a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.main-content .contact .contact-container .other-ways-contact .contact-elements li a:hover {
    color: var(--main-color);
}

.main-content .contact .contact-container .other-ways-contact .contact-elements li a div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

footer .footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   /* background-color: rgba(247, 247, 247); */
}

.footer .made-by {
    list-style: none;
    padding: 0;
    position: relative;
    bottom: -200px;
    margin: 0;
    z-index: 5;
    font-size: 20px;
}

.footer .footer-wave {
    position: relative;
    width: 100%;
    height: 320px;
    z-index: 0;
    bottom: 0;
}

@media screen and (min-width: 1062px) {
    .page-nav .nav-container .nav-mobile .hamburger-icon-mobile {
        display: none;
    }

    .page-nav .nav-container .header-nav {
        display: inline-block;
        margin: 0;
        padding-left: 4em;
        padding-right: 2em;
    }

    .page-nav .nav-container .header-nav .nav-elements {
        list-style: none;
        text-align: center;
        display: inline-flex;
        gap: 1em;
        margin: 0;
        padding: 0;
        width: 740px;
    }
    
    .page-nav .nav-container .header-nav .nav-elements li {
        display: inline-flex;
        align-items: center;
        justify-content: center;   
        height: 60px;
        width: 110px;
        flex: 0 1 110px;
        flex-wrap: wrap;
    }
    
    .page-nav .nav-container .header-nav .nav-elements li:hover a{
        color:var(--main-color);
        transition: 0.1s;
    }
    
    .page-nav .nav-container .header-nav .nav-elements a {
        color: var(--primary-text-color);
        text-decoration: none;
    }
    .page-nav .nav-container .header-nav .nav-elements a:visited {
        color: var(--primary-text-color);
    }

    .main-content .home .home-container {
        padding-top: 180px;
        padding-bottom: 350px;
    }

    .main-content .home .home-container .home-background  {
        background-size: 100% 100%;
        width: 100%;
    }

    .main-content .education .education-content .education-image {
        display: inline;
        height: 417px;
        width: 441px;
    }

    .main-content .skills .skills-container .skills-header-container {
        padding-bottom: 20px;
    }

    .main-content .skills .skills-container .skills-content .skills-photo {
        display: none;
    }

    .main-content .skills .skills-container .skills-content .skills-elements li {
        width: 170px;
        height: 200px;
    }
    
    .main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-line {
        top: -2px;
        left: 65px;
    }
    
    .main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-left {
        top: 1px;
        left: 58px;
    }
    
    .main-content .skills .skills-container .skills-content .skills-elements li .arrow .arrow-right {
        top: -5px;
        left: 48px;
    }
}

@media screen and (min-width: 678px) {
     
    .main-content .home .home-container .home-front-elements .home-blob {
        display: inline-block;
        position: absolute;
        width: 1000px;
        height: 600px;
        top: -60px;
        left: 60%;
        z-index: 3;
    }

    .main-content .home .home-container .home-front-elements .home-header {
        font-size: 45px;
        height: auto;
        margin-left: 15%;
        margin-right: 45%;
    }

    .main-content .home .home-container .home-front-elements .introduction {
        margin-left: 15%;
        margin-right: 45%;
        padding-top: 20px;
    }

    .main-content .home .home-container .home-front-elements .home-contact {
        margin-left: 15%;
        margin-top: 50px;
    }

    .main-content .home .home-container .home-front-elements .home-contact .contact-elements {
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(1, 90px);
    }    

    .main-content .home .home-container .home-front-elements .button-more-about-me {
        margin-left: 15%;
    }

    .main-content .about .about-container .second-blob {
        height: 600px;
        width: 905px;
        left: -150px;
        top: 350px;
    }

    .main-content .about .about-container .about-header-container {
        padding-bottom: 40px;
    }      

    .main-content .about .about-container .about-content .about-text-container {
        width: 58%;
    }

    .main-content .about .about-container .about-content .about-grid {
        flex-direction: row;
        gap: 100px;
    }

    .main-content .about .about-container .about-content .about-grid .about-elements-grid {
        margin: 0;
    }
    
    .main-content .about .about-container .about-content .about-grid .languages-container {
        position: relative;
        top: 80px;
    }

    .main-content .about .about-container button {
        margin-top: 80px;
    }

    .main-content .education .education-container .education-header-container {
        margin-bottom: 60px;
    }

    .main-content .education .education-content {
        gap: 30px;
    }

    .main-content .education .education-content .education-elements {
        width: 540px;
        padding-right: 1em;
    }

    .main-content .education .education-content .education-elements .vertical-line {
        height: 150px;
    }

    .main-content .skills .skills-container .third-blob {
        position: absolute;
        display: inline-block;
        height: 756px;
        width: 801px;
        right: -150px;
        z-index: 0;
        top: 50px;
    }    

    .main-content .projects .projects-container .projects-content .slide-buttons {
        position: relative;
        bottom: 200px;
    }

   .main-content .projects .projects-container .projects-content .slide-buttons div {
    height: 70px;
    width: 70px;
    }

    .main-content .projects .projects-container .projects-content .slide-buttons .button-left {
        right: 200px;
    }
    
    .main-content .projects .projects-container .projects-content .slide-buttons .button-right {
        left: 200px;
    }

    .main-content .projects .projects-container .projects-content .slide-buttons span {
        width: 30px;
    }
    
    .main-content .projects .projects-container .projects-content .button-right .arrow-top, .main-content .projects .projects-container .projects-content .button-right .arrow-bottom {
        top: 10px;
        left: 25px;
    }
    
    .main-content .projects .projects-container .projects-content .button-right .arrow-bottom {
        top: 30px;
        left: -5px;
    }
    
    .main-content .projects .projects-container .projects-content .button-left .arrow-top, .main-content .projects .projects-container .projects-content .button-left .arrow-bottom {
        top: 10px;
        left: 20px;
    }
    
    .main-content .projects .projects-container .projects-content .button-left .arrow-bottom {
        top: 30px;
        left: -10px;
    }

    .main-content .projects .projects-container .projects-content .projects-elements .project-element {
        width: 340px;
        height: 410px;
    }
    
    .main-content .projects .projects-container .projects-content .projects-elements .project-element.left {
        transform: translate(-430px, 25px);  
    }
    
    .main-content .projects .projects-container .projects-content .projects-elements .project-element.middle {
            height: 460px;
            width: 390px;
    }
    
    .main-content .projects .projects-container .projects-content .projects-elements .project-element.right {
        transform: translate(420px, 25px);  
    }
    
    .main-content .contact .contact-container .contact-form {
        width: 1000px;
        max-width: calc(100% - 200px);
        margin: 0 100px;
    }

    .main-content .contact .contact-container .contact-form .contact-form-elements .topic-input {
        width: 962px;
    }
    
    .main-content .contact .contact-container .contact-form .contact-form-elements .message-input {
        width: 962px;
    }

    .main-content .contact .contact-container .contact-form .contact-form-elements .top-elements {
        flex-direction: row;
        gap: 43px;
    }
    
    .main-content .contact .contact-container .contact-form .contact-form-elements .top-elements input {
        width: 450px;
    }

    .main-content .contact .contact-container .other-ways-contact {
        margin-bottom: 0px;
    }

    .main-content .contact .contact-container .other-ways-contact .contact-elements {
        flex-direction: row;
        gap: 100px;
    }

    .main-content .last-blob {
        position: absolute;
        top: 3800px;
        left: 100px;
        height: 541px;
        width: 600px;
        z-index: 0;
    }
}

@media screen and (max-width: 1162px) {

    .main-content .contact .contact-container .contact-form .contact-form-elements .top-elements {
        flex-direction: column;
        gap: 0;
    }

    .main-content .contact .contact-container .contact-form .contact-form-elements .top-elements input {
        width: 962px;
    }

}
