body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', serif;
}

header.page-header {
    position: fixed;
    top: 0px;
    width: 100%;  
    background-color: #b0ababde; 
    margin: 0px;
    padding: 0px;
    z-index: 99;
}

.page-header .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    font-size: 1em; 
    font-weight: 300;
    align-items: center;
    height: 60px;
    margin: 0px;
}

.page-header .header-container .header-nav {
    margin: 0;
    padding-left: 4em;
    padding-right: 2em;
}

.page-header .header-container .header-nav ul.nav-elements {
    list-style: none;
    text-align: center;
    display: inline-flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.page-header .header-container .header-nav .nav-elements li {
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    height: 60px;
    min-width: 100px;
    width: 110px;
    border-radius: 10%; 
    flex: 0 1 110px;
    flex-wrap: wrap;
}

.page-header .header-container .header-nav .nav-elements li:hover a{
    color:#C14953;
    transition: 0.1s;
}

.page-header .header-container .header-nav .nav-elements a {
    color: black;
    text-decoration: none;
}
.page-header .header-container .header-nav .nav-elements a:visited {
    color: black;
}

.page-header .header-container .header-nav .dropdown-arrow {
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000000;
    position: relative;
    left: 3%;
  }
  
.page-header .header-container .header-nav .nav-elements li:hover .dropdown-arrow {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #C14953;
    border-top: 7px solid transparent;
    bottom: 4%;
}

.page-header .header-container .header-nav .contact-dropdown {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 0;
    width: 100%;  
    background-color: #b0ababe8;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    height: auto;
    color: black;
    box-shadow: 0 5px 5px #46494d77;
}

.page-header .header-container .header-nav .contact-dropdown ul{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center;
    gap: 1em; 
}

.page-header .header-container .header-nav .contact-dropdown li{
    height: 60px;
    width: 150px;
    border-radius: 10%;
    padding: 0.5em;
    display: inline-flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    color: black;
}

.page-header .header-container .header-nav .nav-elements li:hover .contact-dropdown a {
    color: black;
}

.page-header .header-container .header-nav .nav-elements .contact-dropdown li:hover a { 
    color:#C14953;
    transition: 0.1s;
}

.page-header .header-container .header-nav .contact:hover .contact-dropdown, .header-nav .contact .contact-dropdown:hover {
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
} 

.page-header .header-container .navbar-space {
    display: flex;
    height: auto;
    flex: 0 1 60em;
}


.page-header .header-container .right-icons {
    display: inline-flex;
    gap: 1em;
    padding: 0 3.8em;
}

.page-header .header-container .right-icons .theme-icon,  .page-header .header-container .right-icons .settings-icon {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 15%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .01s;
}

.page-header .header-container .right-icons .settings-icon .settings-icon-box {
    height: 60px;
    width: 45px;
}

.page-header .header-container .right-icons .theme-icon a, .page-header .header-container .right-icons .settings-icon a{
    display: inline-flex;
    align-items: center;
}

.page-header .header-container .right-icons .theme-icon:hover, .page-header .header-container .right-icons .settings-icon:hover {
    background-color: #d9d3d39c;
}

.page-header .header-container .right-icons .theme-icon .sun-icon-white {
    opacity: 0;
    position: absolute;
    top: 23%;
    right: 0;
    left: 22%;
    bottom: 0;
    transition: opacity .01s;
}

.page-header .header-container .right-icons .settings-icon .settings-icon-white {
    opacity: 0;
    position: absolute;
    top: 27%;
    right: 0;
    left: 28.2%;
    bottom: 0;
    transition: opacity .01s;
}

.page-header .header-container .right-icons .settings-icon .settings-icon-black {
    position: absolute;
    top: 27%;
    right: 0;
    left: 28.2%;
    bottom: 0;
}
.page-header .header-container .right-icons .theme-icon:hover .sun-icon-black, .page-header .header-container .right-icons .settings-icon:hover .settings-icon-black {
    transition: 1s;
    rotate: 360deg;
    opacity: 0;
}

.page-header .header-container .right-icons .theme-icon:hover .sun-icon-white, .page-header .header-container .right-icons .settings-icon:hover .settings-icon-white {
    transition: 1s;
    rotate: 360deg;
    opacity: 1;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 2em;
    width: 100px;  
    height: auto;
    background-color: #b0ababe8;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: black;
    box-shadow: 0 5px 5px #46494d77;
    border: 1px solid #afaeae;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown .settings-header {
    font-size: 1em;
    padding: 0 1em;
    text-align: center;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown ul.color-circle-elements{
    list-style: none;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: inline-flex;
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
    margin: 0;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown .color-circle-elements li {
    display: inline-flex;
    align-items: center; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    transition: background-color .01s;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown .color-circle-elements li:hover {
background-color: #d9d3d39c;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown .color-circle-elements .color-circle-pink {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color: #C14953;
}


.page-header .header-container .right-icons .settings-icon .settings-dropdown .color-circle-elements .color-circle-green {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color: green;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown .color-circle-elements .color-circle-blue {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    background-color: blue;
}

.page-header .header-container .right-icons .settings-icon li:hover .settings-dropdown a{
    color: black;
}

.page-header .header-container .right-icons .settings-icon .settings-dropdown li:hover a{
    color:#C14953;
    transition: 0.1s;
}

.page-header .header-container .right-icons .settings-icon-box:hover .settings-dropdown, .header-nav .contact .settings-dropdown:hover{
    visibility: visible;
    opacity: 1;
    transition: 0.1s;
} 

main {
    margin: 0px;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
}

main .main-content {
    display: block;
}

main .main-content .home .home-container {
    position: absolute;
    top: 150px;
    left: 20%;
    right: 25%;
    color:white
}

main .main-content .home .home-background {
    width: 100%;
    height: 890px;
    background: linear-gradient(#c14953c7, rgb(255, 255, 255)), url("photos/background-ge19184917_1920.jpg");
}

main .main-content .home .home-header {
    font-size: 1.75em;

}

main .main-content .home .introduction {
    font-size: 1.25em;
}

main .main-content .home .home-container .home-vertical-line {
    height: 1px;
    width: 600px;
    background-color: rgb(255, 255, 255);

}

main .main-content .home .home-container .introduction {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1em;
}

.main-content .home .home-container .button-more-about-me {
    font-size: 20px;
    height: 3em;
    width: 10em;
    border-radius: 10px;
}

.main-content .about .about-container {
    display: flex;
    position: relative;
    top: -50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .about .about-container .about-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.main-content .about .about-container .about-elements {
    display: grid;
}

.main-content .about .about-container .button-CV {
    
}

.main-content .about .about-container .button-hire-me {
    
}

.main-content .education .education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .education .education-container {
    
}

.main-content .education .education-content .education-elements {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #C14953;
    border-radius: 10px;
}

.main-content .education .education-content .education-elements {
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 0;
    box-shadow: 0 0 10px 5px #d9d3d3ef;
}

.main-content .education .education-content .education-elements .education-element {
    padding-left: 2em;
}

.main-content .education .education-content .education-elements .vertical-line{
    display: inline-block;
    position: relative;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: green;
}

.main-content .education .education-content .education-elements .education-element .education-dot {
    position: relative;
    top: 21px;
    right: 32px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C14953;
}

.main-content .education .education-content .education-elements .education-element .timeline-date {
    margin: 0;
}

.main-content .education .education-content .education-elements .education-element .calendar-icon {
    display: inline-flex;
    background-image: url("icons/calendar-icon-black.png");
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.main-content .projects .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.main-content .projects .projects-container .projects-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-content .projects .projects-container .projects-elements li {
    width: 300px;
    height: 400px;
    padding: 1em;
    margin: 0 50px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #C14953;
    border-style: solid;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer ul {
    list-style: none;
}

@media screen {
    
}